@use '../abstracts/' as *;

.stats-card {
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  color: var(--clr-white);
  background-color: var(--clr-darkblue-saturated);
  border-radius: 10px;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 2.5em 2em;
    background-color: var(--clr-darkblue-sat);
    text-align: center;
  }

  h1 {
    margin-bottom: 0.75em;

    span {
      color: var(--clr-softviolet);
    }
  }

  .lead {
    line-height: 1.8;
    margin-bottom: 2.2em;
    color: var(--clr-white-alpha75);
  }

  &__stats {
    list-style: none;
    justify-content: space-between;
    letter-spacing: 1px;

    li {
      font-size: var(--fs-stat);
      font-weight: var(--fw-bold);

      &:not(:last-child) {
        margin-bottom: 1.2em;
      }
    }

    span {
      display: block;
      font-weight: var(--fw-regular);
      font-family: var(--ff-secundary);
      font-size: var(--fs-small);
      color: var(--clr-white-alpha60);
      margin-top: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__img {
    background-color: var(--clr-softviolet);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

    img {
      display: block;
      mix-blend-mode: multiply;
      opacity: 0.8;
      width: 100%;
    }
  }

  @include media-breakpoint('desktop') {
    flex-direction: row;

    &__content {
      flex: 1 1 53%;
      padding: 5em 9em 4em 5em;
      text-align: left;
    }

    &__stats {
      display: flex;
      margin-top: auto;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-right: 0.4em;
      }
    }

    &__img {
      flex: 1 1 50%;
    }
  }
}
