:root {
  font-size: 15px;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-600);
}
